.sidebar{
  background-color: antiquewhite;
  flex: 2;
  min-height: 100vh;
  border-right: 0.5px solid rgb(162, 161, 161);
}

.top{
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top:10%;
  
}
.logo{
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
hr.hr{
  height: 0px;
  border: 2px solid rgb(103, 88, 88);
}
.center{
  background-color: black;
}

.title{
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 0px 5px;
}